body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    margin-top: 100px;
    font-size: 45px;
}

#typing {
    color: #00ffcc;
    font-size: 22px;
}

#cursor {
    font-size: 22px;
    color: #00ffcc;
}

.section {
    margin-top: 60px;
    padding: 20px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 16px;
    background: #00ffcc;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: white;
    color: black;
}
